fastapi
uvicorn[standard]
httpx
chromadb
openai
pydantic
pydantic-settings
python-multipart
sqlalchemy
cohere
python-dotenv
google-generativeai
pypdf
sentence-transformers
pytest
pytest-asyncio
torch
